@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: #f4f6fa;
}
.container{
    background: linear-gradient(75deg, #24e75fa1 0%, #d352cfad 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.container-chamarra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header{
    padding: 0.5rem 2rem;
    box-shadow: 0px 2px 10px 1px #353333;
    border-radius: 0 0 5px 5px;
    background: #fff;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-container h1{
    margin-left: 19rem;
}
.logo{
    width: 50px;
    height: auto;
}
.titulo{
    color: #000;
}
.nav{
    width: 360px;
    display: flex;
    justify-content: space-around;
}
.nav-a{
    color: #000;
    transition: 0.2s ease;
}
.nav-a:hover{
    transform: scale(1.1);
    font-weight: 500;
    border-bottom: 1.2px solid #6461f5;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-chamarra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chamarra-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 25px;
}
.chamarra-card-box{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 4px 5px 10px 1px #000000;
    border-radius: 1rem;
}
.chamarra-card-img{
    margin: 1rem 0;
    width: 300px;
    height: auto;
}
.chamarra-card-img img{
    width: 300px;
    border-radius: 1rem;
    padding: 1rem;
}
.chamarra-card-texto{
    text-align: justify;
}
.subtitulo{
    padding: 1rem 0;
    font-size: 40px;
    text-transform: uppercase;
    word-spacing: 25px;
}
.subtitulo-chamarra{
    font-size: 40px;
    text-transform: uppercase;
    margin: 1rem 0;
}
.texto{
    font-size: 1.3rem;
    padding: 4px;
    font-weight: 500;
}
.boton-ver{
    padding: 1rem;
    margin-top: 30px;
    border: 2.5px solid #6461f5;
    border-radius: 12px;
    color: #000;
    font-size: 1.2rem;
    background: #c9c8ff;
    transition: 0.2s ease;
}
.boton-ver:hover{
    transform: translate(-4%,-5%);
    box-shadow: 5px 5px 0px 0px #000000;
    color: #fff;
    font-weight: 600;
    background: #4f5499;
    border: 2.5px solid #a19ffa;
}
.boton-navegacion{
    width: 360px;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.boton{
    padding: 1rem;
    background: #c4e6fd;
    color: #000;
    border: 2.5px solid #2d30db;
    transition: 0.2s ease;
    border-radius: 1rem;
}
.boton:hover{
    color: #fff;
    background: #0099ff;
    font-weight: 600;    
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 1.7rem;
    align-items: center;
    background: #fff;
}
.texto-footer{
    color: blue;
}