@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    border: 1.5px solid #c4d0e9;
    background-color: #d4dbf7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.header {
    background-color: #5e2e6b; 
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
    border: 2px solid #ba68c8; 
    border-radius: 10px;
    position: relative;
}

.header .logo {
    max-width: 150px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.footer {
    background-color: #8e24aa; /* Fondo pastel */
    color: white;
    text-align: center;
    padding: 1em 0;
    border: 2px solid #ba68c8; /* Borde pastel */
    border-radius: 10px;
    margin-top: auto;
}

.contenido {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
    border: 2px solid #d1c4e9; /* Borde pastel */
    background-color: #ede7f6; /* Fondo pastel */
    border-radius: 10px;
    margin: 10px;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.navigation-buttons {
    margin-top: 20px;
}


.button {
    background-color: #6a1b9a;
    color: white;
    border: 2px solid #4a148c;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #4a148c;
    color: #ffffff; /* Blanco */
}


h1, h2 {
    color: #000000; /* Color pastel */
}

p {
    color: #000000; /* Color pastel */
    font-size: 1em;
    line-height: 1.6;
    margin: 10px 0;
}
.texto-footer{
    color: #003cff;
    font-size: 1.2rem;
}
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #d1c4e9; /* Borde pastel */
    border-radius: 10px;
    margin: 10px 0;
}

.chamarra-container {
    width: 100%; /* Ancho máximo */
    max-height: 400px; /* Altura máxima para mantener la proporción */
    overflow: hidden; /* Para ocultar cualquier parte de la imagen que se extienda más allá del div */
    border: 2px solid #ccc; /* Borde de ejemplo */
    border-radius: 10px; /* Borde redondeado de ejemplo */
}

.chamarra-img {
    width: 100%; /* Para que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Para mantener la proporción */
}
